**/xcuserdata/**
*.xcuserstate

*.sw*
backend/dev
backend/out
backend/out.jpg
backend/gmon.out
backend/*.o
backend/.cabal-sandbox/
backend/cabal.sandbox.config
backend/bin/*
backend/build/*
backend/dist/*
backend/tmp/*
